.cat-card {
  background: #fff;
  border-radius: 5px;
  height: 21%;
  margin: 2rem;
  position: relative;
  width: 21%;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}
.cat-card img {
  width: 94%;
  margin: 3%;
}

.cat-card:hover {
  height: 23%;
  width: 23%;
  margin: 0.7rem;
  box-shadow: 2px 8px 10px #999, 2px 8px 10px #999;
}
