.card-box {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;

  padding: 20px;
  padding-top: 150px;
  background: #ECEFF1;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}
